 body {
  padding: 32px;

  font-family: sans-serif;
  width: fit-content;
  margin: 0 auto;
 }
.clear {
  clear: both;
  content: "";
  width: fit-content;
}

html {
  margin: 0 auto;
}

.single-cell {
  width: fit-content;
}

.game {
  display: flex;
  flex-direction: column;
}


.game-info {
  min-height: 50px;
  width: fit-content;
}

.cell {
  background: #fff;
  border: 1px solid #414c69;
  float: left;
  line-height: 34px;
  height: 34px;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.cell:focus {
  outline: none;
}

.hidden {
  background: #7e7b92;
}

.is-flag,
.is-mine {
  color: #fc543c;
}


.instructions {
  width: 500px;
  
}


h2 {
  text-align: center;
}

button {
  margin-left: 15px;
}

